<% if instead.errors.any? %>
  <div>
    <div>
      送信内容に<%= instead.errors.count %>つのエラーがあります。
    </div>
    <ul>
      <% instead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>