<% provide(:title, "アカウントを削除") %>

<h1>アカウントを削除</h1>

<p>アカウントに紐づくすべての情報が削除されます。本当にアカウントを削除しますか？この操作は元に戻せません。</p>

<%= button_to "アカウントを削除", settings_leave_path, method: :delete, style: "color: red;" %>
