<% provide(:title, "プライバシーポリシー") %>

<% if @document %>
  <h1><%= @document.title %></h1>
  <%= md_render @document.content %>
<% else %>
  <h1>プライバシーポリシー</h1>

  <p>本サービスのプライバシーポリシーは、下記リンク先に記載しております。</p>

  <a href="https://anyur.com/privacy-policy">ANYUR プライバシーポリシー</a>
<% end %>
