
/* ctmf */

.ctmf {
  width: 100%;
  max-width: 400px;
}

/* div */

.ctmf > div, .ctmf-div {
  margin-bottom: 1.5rem;
}

/* disabled input */

.ctmf input:disabled {
  background: #e0e0e0 !important;
}

/* button */

.ctmf input[type="submit"], .ctmf-button {
  width: 100%;
  max-width: 400px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  background: #ffffff;
  color: #000;
  font-weight: bold;
  box-shadow: 0 2px 3px 2px #0002;
  cursor: pointer;
}
.ctmf input[type="submit"]:hover, .ctmf-button:hover {
  box-shadow: 0 1px 3px 2px #0001;
}

/* label */

.ctmf label, .ctmf-label {
  display: block;
  padding-left: 5px;
}

/* checkboxのlabelはinline-blockにする */

.ctmf input[type="checkbox"] + label, .ctmf-checkbox-label {
  display: inline-block;
}

/* small */

.ctmf small, .ctmf-small {
  display: block;
  padding-left: 7px;
}

/* textfield */

.ctmf input[type="text"], .ctmf input[type="email"], .ctmf-textfield {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  color: #000;
  background: #fff;
  border: none;
  padding: 7px;
  border-radius: 7px;
  box-shadow: inset 0 1px 3px 2px #0002;
}

/* textarea */

.ctmf textarea, .ctmf-textarea {
  width: 100%;
  height: 64px;
  max-width: 400px;
  box-sizing: border-box;
  resize: vertical;
  color: #000;
  background: #fff;
  border: none;
  padding: 7px;
  border-radius: 7px;
  box-shadow: inset 0 1px 3px 2px #0002;
}

/* password */

.ctmf-password-wrap {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 400px;
}
.ctmf-password-wrap input[type="password"],
.ctmf-password-wrap input[type="text"] {
  flex: 1;
  padding: 7px;
  border: none;
  border-radius: 7px;
  box-shadow: inset 0 1px 3px 2px #0002;
}
.ctmf-password-wrap .ctmf-password-toggle {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
  cursor: pointer;
}
