<% provide(:title, "アカウント一覧") %>

<h1>アカウント一覧</h1>
<% @accounts.each do |account| %>
  <%= link_to account_path(account.name_id), class: "account-linked" do %>
    <%= render "account", account: account %>
  <% end %>
<% end %>
